.App {
  text-align: center;
}


.search-container{
  width: 520px;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 20px;
}


input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
        opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
        opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
       opacity: 0;
     }
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40vmin;
  pointer-events: none;
}


.App-header {

  background: linear-gradient(270deg, #aa4b6b, #6b6b83, #3b8d99);
  background-size: 600% 600%;

  -webkit-animation: AnimationOne 30s ease infinite;
  -moz-animation: AnimationTwo 30s ease infinite;
  animation: AnimationThree 30s ease infinite;


  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes AnimationOne {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationTwo {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationThree {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
